include asset/mixin

+head('Blog Home', 'http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500|Roboto+Slab:400,300,700,100')

body
  #page.site
    header#masthead.site-header(role='banner')
        .container
        // End .container

      #main.site-main
        .container
          section#primary.content-area
            #content.site-content.hfeed
              p. color2ssasasas
            // End #content.site-content.hfeed
          aside#secondary.widget-area.sidebar(role='complementary')
        // End .container
      footer#colophon.site-footer(role='contentinfo')
        .container
  // End #page.site
+end