include html-inc/mixin

+header('index', 'http://fonts.googleapis.com/css?family=Montserrat%3A400%2C700')

body.2cls
  div#page.site
    header(id="masthead", class="site-header", role="banner")
    // End #masthead
    div#main
      .contaisner
      p.
        Lo
        "\n"
      p.
        ddasasas
      p<="Foo\nBar"
      p.
        lorem10sd
      p.
        colors 

    +footer
