/*
|--------------------------------------------------------------------------
| Custom Font
|--------------------------------------------------------------------------
*/
@include font-face("VAGRoundedBT", "../fonts/VAGRoundedBT");

/*
|--------------------------------------------------------------------------
| Base & Inherit Style
|--------------------------------------------------------------------------
*/
html{
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $base-color;
	background-color: $base-bg-color;
}

/*
|--------------------------------------------------------------------------
| Base Settings
|--------------------------------------------------------------------------
*/

body{

}