@charset "UTF-8";
@import "compass";

/*
|--------------------------------------------------------------------------
| Include Sprite
|--------------------------------------------------------------------------
*/

$other-sprite-dimensions: true;
$other-spacing: 2px;
$icon-sprite-dimensions: true;
$icon-spacing: 2px;
$button-sprite-dimensions: true;
$button-spacing: 2px;
$other-sprite-dimensions: true;
$other-spacing: 2px;

@import "sprites/button/*.png";
@import "sprites/icon/*.png";
@import "sprites/other/*.png";

@include all-other-sprites;
@include all-icon-sprites;
@include all-button-sprites;
/*
|--------------------------------------------------------------------------
| Include Helper
|--------------------------------------------------------------------------
*/
@import "partials/helper/variables";
@import "partials/helper/mixin";
@import "partials/helper/reset";
@import "partials/helper/class";

/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
*/
@import "global";
@import "header";
@import "main";
@import "footer";

/*
|--------------------------------------------------------------------------
| Include Plugins
|--------------------------------------------------------------------------
*/
@import "partials/plugins/flexslider";