/*
|--------------------------------------------------------------------------
| Base Variable
|--------------------------------------------------------------------------
*/
	$base-font-size 			: 16px;
	$base-font-family 			: arial, "Helvetica Neue", sans-serif;
	$base-color 				: #444;
	$base-bg-color 				: #fff;

/*
|--------------------------------------------------------------------------
| Project Variable
|--------------------------------------------------------------------------
*/
	$black 						: #000;
	$white 						: #fff;
	$blue 						: #2B94E5;
	$soft-black 				: #333;
	$link 						: $blue;
	$link-hover 				: darken($blue, 20%);
	$text		 				: $soft-black;

/*
|--------------------------------------------------------------------------
| Timing Function Variable
|--------------------------------------------------------------------------
*/
	$ease-in-quad 				: cubic-bezier(0.550, 0.085, 0.680, 0.530);
	$ease-in-cubic 				: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	$ease-in-quart 				: cubic-bezier(0.895, 0.030, 0.685, 0.220);
	$ease-in-quint 				: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	$ease-in-sine 				: cubic-bezier(0.470, 0.000, 0.745, 0.715);
	$ease-in-expo 				: cubic-bezier(0.950, 0.050, 0.795, 0.035);
	$ease-in-circ 				: cubic-bezier(0.600, 0.040, 0.980, 0.335);
	$ease-in-back 				: cubic-bezier(0.600, -0.280, 0.735, 0.045);
	// EASE OUT
	$ease-out-quad 				: cubic-bezier(0.250, 0.460, 0.450, 0.940);
	$ease-out-cubic 			: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	$ease-out-quart 			: cubic-bezier(0.165, 0.840, 0.440, 1.000);
	$ease-out-quint 			: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	$ease-out-sine 				: cubic-bezier(0.390, 0.575, 0.565, 1.000);
	$ease-out-expo 				: cubic-bezier(0.190, 1.000, 0.220, 1.000);
	$ease-out-circ 				: cubic-bezier(0.075, 0.820, 0.165, 1.000);
	$ease-out-back 				: cubic-bezier(0.175, 0.885, 0.320, 1.275);
	// EASE IN OUT
	$ease-in-out-quad 			: cubic-bezier(0.455, 0.030, 0.515, 0.955);
	$ease-in-out-cubic 			: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	$ease-in-out-quart 			: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	$ease-in-out-quint 			: cubic-bezier(0.860, 0.000, 0.070, 1.000);
	$ease-in-out-sine 			: cubic-bezier(0.445, 0.050, 0.550, 0.950);
	$ease-in-out-expo 			: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	$ease-in-out-circ 			: cubic-bezier(0.785, 0.135, 0.150, 0.860);
	$ease-in-out-back 			: cubic-bezier(0.680, -0.550, 0.265, 1.550);

/*
|--------------------------------------------------------------------------
| Font Stacks Variable 
|--------------------------------------------------------------------------
*/
	$georgia 					: Georgia, Times, "Times New Roman", serif !default;
	$garamond 					: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !default;
	$lucida-bright 				: "Lucida Bright", Georgia, serif !default;
	$palatino 					: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !default;
	$big-caslon 				: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif !default;
	$didot 						: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;
	$baskerville 				: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif !default;
	$hoefler-text 				: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif !default;
	$bodoni-mt 					: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;
	$goudy-old-style 			: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif !default;
	$constantia 				: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;
	$cambria 					: Cambria, Georgia, serif !default;
	$book-antiqua 				: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;

	$arial 						: Arial, "Helvetica Neue", Helvetica, sans-serif !default;
	$optima 					: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif !default;
	$futura 					: Futura, "Trebuchet MS", Arial, sans-serif !default;
	$gill-sans 					: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !default;
	$trebuchet 					: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !default;
	$helvetica 					: "Helvetica Neue", Arial, Helvetica, sans-serif !default;
	$verdana 					: Verdana, Geneva, sans-serif !default;
	$lucida-grande 				: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !default;
	$geneva 					: Geneva, Tahoma, Verdana, sans-serif !default;
	$segoe 						: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
	$candara 					: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
	$calibri 					: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
	$franklin-gothic 			: "Franklin Gothic Medium", Arial, sans-serif !default;
	$tahoma 					: Tahoma, Geneva, Verdana, sans-serif !default;

	$monospace 					: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;
	$cursive 					: "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive !default;


/*
|--------------------------------------------------------------------------
| Project Variable 
|--------------------------------------------------------------------------
*/